<!DOCTYPE html>
html(lang="en")
  head
    include globals/head.pug
  body
    include globals/menu.pug

    .ui.segment.text.container
      h3.ui.header.icon.aligned.center 
        i.circular.icon.envelope.teal
        | Se ha enviado un correo a su cuenta #{email}