<!DOCTYPE html>
html(lang="en")
  head
    include globals/head.pug
  body
    include globals/menu.pug

    .ui.segment.container.very.padded.green
      h3.ui.header.center.aligned Se ha enviado un correo a su cuenta.