<!DOCTYPE html>
html(lang="en")
  -var scripts = true; 
  head
    include globals/head.pug
  body
    include globals/menu.pug
    .ui.container.segment.raised.text
      .ui.dimmer.load-register
        .ui.text.loader Cargando
      .ui.form-container
        form.ui.form#register_form(method="post")
          .two.fields
            .field     
              lablel Name
              input#name_field( type="text" name="name" placeholder="Name" )
            .field    
              lablel Last Name
              input#lastname_field( type="text" name="lastname" placeholder="Last Name" )
            
          .field
            lablel Email
            input#email_field( type="text" name="email" placeholder="Email" )
          .field
            label Password
            input#pass_field(type="password", name="password", placeholder="Password")
          .field
            label Confirm Password
            input#rpass_field(type="password" name="r-password" placeholder="Confirm Password")
          .field
            button.ui.button.fluid.primary(type="submit") Sends
    //- Load Scripts in body
    include globals/body-scripts.pug
          
   

