div(style="width:100%; max-width:500px;box-shadow:1px 1px 3px black; padding:8px;margin: 0 auto;")
  h3 Verificaci칩n de Correo Electr칩nico
  p Este email se ha enviado ya que este correo electr칩nico ha sido registrado en la web http://www.myweb.com. Por favor, sigua el siguiente link para continuar con el registro.

  h4 Si usted no tiene idea de este email, por favor h치galo saber.
  a(href="http://localhost:3000/confirm-email?verify=#{verify}", style="padding:3px; background-color:#0083ff; color:white; border:none")