div(style='padding:8px;margin: 0 auto;width: 100%;max-width: 700px;font-family: Helvetica;')
  h3 Verificaci칩n de Correo Electr칩nico
  p
    | Este email se ha enviado ya que este correo electr칩nico ha sido registrado en la web http://www.myweb.com. Por favor, sigua el siguiente link para continuar con el registro.
  h4 Si usted no tiene idea de este email, por favor h치galo saber.
  a(href='http://localhost:3000/confirm-email?verify=' + verify+"&unique="+ userId, style='padding: 6px;background-color:#0083ff;color:white;border:none;width:300px;display: block;text-align: center;text-decoration: none;margin: 0 auto;') Verificar 
