.ui.segment.text.container
      h3.ui.header.icon.aligned.center 
        i.circular.icon.envelope.teal
        |Verificacion de correo: #{email}
      p.ui.aligned.center Se ha enviado un mensaje de verificación a su cuenta de correo electrónico registrada. Por favor, revise para continuar con su registro.