script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
 
script(src="scripts/shared/process.js")
script(src="scripts/shared/form.process.js")
script(src="scripts/forms/register-metadata.js")
script(src="scripts/ajax-request/register.js")
script(src="/publics/semantic/out/semantic.min.js")


script(src="/reload/reload.js")
