.ui.container-fluid(style="background-color:#2185d0")
  .ui.menu.blue.inverted.container.large
    a.item(href="/register") Inicio
    a.item(href="") Sobre Nosotros
    if userId
      a.item(href="/session-destroy") Salir
  
